<div id = "m" class="message-box" style="width:100%;">
	{% for segment in segment_details %}
	  {% if segment["private"] == False%}
		  <div class="message">
		  {{segment["sender"]}} : {{segment["time"]}} : {{segment["text"]}}
		  </div>
	  {% elif (username == segment["sender"]) or ((segment["recipients"] is not none) and (username in segment["recipients"])) %}
			<div class="message">
			{{segment["sender"]}} - {{segment["recipients"]}} : {{segment["time"]}} : {{segment["text"]}}
			</div>
	  {% endif %}
  {% endfor %}
</div>
